label {
  @apply block space-y-2;
}

textarea {
  @apply w-full resize-none p-2 h-40;
}

input {
  @apply w-full p-2;
}

img.thumbnail {
  @apply h-48 w-full object-cover lg:h-full;
  object-position: 85% 25%;
}

@media screen(lg) {
  form {
    grid-column: 1;
    grid-row: 1;
  }

  img.thumbnail {
    grid-column: 2;
    grid-row: 1;
  }
}
