.subheader {
  @apply flex flex-col mt-6 w-full sm:flex-row sm:space-x-4 sm:mt-4 sm:justify-center;
}

.subheader > span:before {
  @apply mr-2 text-red-700;
  content: "\25c6";
  font-size: 1.25rem;
  line-height: 1.25rem;
}

li {
  @apply ml-6 sm:ml-12;
}

li:before {
  @apply text-red-700 inline-block w-5 -ml-5;
  content: "\25c6";
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.subheader > span:not(:first-of-type):before {
  @apply sm:mr-4;
}

.subheader > span:first-of-type:before {
  @apply sm:mr-0;
  @media screen(sm) {
    content: "";
  }
}

.section-grid {
  @apply grid mt-8;
  grid-template-columns: 1fr;
  @media screen(md) {
    grid-template-columns: 1fr auto;
  }
}

.section-grid > * {
  grid-column: 1;
}

.content a {
  @apply underline;
}

h3 {
  @apply mt-8 font-bold italic text-3xl;
}

h4 {
  @apply font-bold text-xl;
}

hr {
  @apply mt-8 border-red-700;
}
